body {      
    margin: 0;    
    overflow: hidden;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/44216/stars-img-src.svg);
    background-size: cover;
    }


.fade {
    position: absolute;
    width: 100%;
    height: 80%;
    background: linear-gradient(0deg, transparent, black 50%);
    z-index: 1;
}

.star-wars {
    position: relative;
    display: flex;

    height: 800px;   
  margin: -100px;
  
    color: #feda4a;
    font-family: 'News Cycle', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 100px;
    font-weight: 700;
    font-stretch: ultra-expanded;
    letter-spacing: 6px;
    line-height: 90%;
  text-align: justify;
    perspective: 100px;
     }

.crawl {
    position: relative;  
        width: 200%;
    
    animation: generique 120s linear infinite;
    
  
}
   


@-webkit-keyframes generique {
    from {
        top: 1000px;
        transform: rotateX(20deg) translateZ(100px) ;
        
    }
    
        
    to {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px)            ;
   
    }
}



