body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'News Cycle', sans-serif;
    font-size: 500%;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 100%%;
    text-align: justify;
}

p {

    font-variant-caps: small-caps;
    /*    transform: rotatex(50deg);*/
    /*    color: yellow;*/
    /*    font-size: 50px;*/
}

.crawl {
    position: relative;
    top: -100px;
    animation: crawl 50s linear;
    transform-origin: 50% 100%;



}


@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(20deg) translateZ(--5000px);
    }
}
